@font-face {
  font-family: scriptFont;
  src: url(../fonts/SCRIPTBL.TTF);
}

body {
  background: #cee0c1;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

.slider {
  position: relative;
  height: 100vh;
  width: 75%;
  background: #777;
  overflow: hidden;
  float: left;
  min-height: 600px;
}

.slider__wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(100vw);
  top: 0%;
  left: 0;
  right: auto;
  overflow: hidden;
  transition: transform 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform-origin: 0% 50%;
  transition-delay: 450ms;
  opacity: 0;
}

.slider__wrap--hacked {
  opacity: 1;
}

.slider__back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-position: center;
  background-repeat: none;
  transition: filter 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.slider__inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  background-size: auto 133.3333%;
  background-position: center;
  background-repeat: none;
  transform: scale(0.75);
  transition: transform 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86), box-shadow 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 450ms step-end;
  opacity: 0;
  box-shadow: 0 3vh 3vh rgba(0, 0, 0, 0);
  padding: 15vh;
  box-sizing: border-box;
}

.slider__content {
  position: absolute;
  right: 0;
  width: 55%;
  bottom: 0%;
  color: white;
  background-color: rgba(115, 174, 87, .8);
  font-family: "Heebo", sans-serif;
  opacity: 0;
  transition: opacity 450ms;
  padding-left: 22px;
  padding-bottom: 10px;
}

.slider__content h1 {
  font-family: scriptFont;
  font-weight: 900;
  font-size: 9vh;
  line-height: 0.85;
  margin-bottom: 0vh;
  margin-top: 4vh;
  pointer-events: none;
  text-shadow: 0 0.375vh 0.75vh rgba(0, 0, 0, 0.1);
  color: #ffffff;
  padding-bottom: 20px;
}

.slider__content p {
  line-height: 20px;
}

.slider__content a {
  cursor: pointer;
  font-size: 2.4vh;
  letter-spacing: 0.3vh;
  font-weight: 100;
  position: relative;
}

.slider__content a:after {
  content: "";
  display: block;
  width: 9vh;
  background: white;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 6vh;
  transform: translateY(-50%);
  transform-origin: 0% 50%;
  transition: transform 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.slider__content a:before {
  content: "";
  border-top: 1px solid white;
  border-right: 1px solid white;
  display: block;
  width: 1vh;
  height: 1vh;
  transform: translateX(0) translateY(-50%) rotate(45deg);
  position: absolute;
  font-family: "Heebo", sans-serif;
  font-weight: 100;
  top: 50%;
  left: 15vh;
  transition: transform 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.slider__content a:hover:after {
  transform: scaleX(1.5);
  transition: transform 1200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.slider__content a:hover:before {
  transform: translateX(6vh) translateY(-50%) rotate(45deg);
  transition: transform 1200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.slider__slide {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  transition: transform 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-delay: 600ms;
  pointer-events: none;
  z-index: 0;
}

.slider__slide--active {
  transform: translatex(0%);
  z-index: 2;
}

.slider__slide--active .slider__wrap {
  transform: translateX(0);
  transform-origin: 100% 50%;
  opacity: 1;
  -webkit-animation: none;
  animation: none;
}

.slider__slide--active .slider__back {
  filter: blur(1.5vh);
  transition: filter 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-delay: 900ms !important;
}

.slider__slide--active .slider__inner {
  transform: scale(0.8);
  box-shadow: 0 1vh 6vh rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  opacity: 1;
  transition: transform 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86), box-shadow 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 1ms step-end;
  transition-delay: 900ms;
}

.slider__slide--active .slider__content {
  opacity: 1;
  transition-delay: 1350ms;
}

.slider__slide:not(.slider__slide--active) .slider__wrap {
  -webkit-animation-name: hack;
  animation-name: hack;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-delay: 450ms;
  animation-delay: 450ms;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@-webkit-keyframes hack {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-100vw);
    opacity: 1;
  }
  51% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  52% {
    transform: translateX(100vw);
    opacity: 0;
  }
  100% {
    transform: translateX(100vw);
    opacity: 1;
  }
}

@keyframes hack {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-100vw);
    opacity: 1;
  }
  51% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  52% {
    transform: translateX(100vw);
    opacity: 0;
  }
  100% {
    transform: translateX(100vw);
    opacity: 1;
  }
}

nav {
  width: 25%;
  height: 100vh;
  min-height: 600px;
  position: relative;
  float: left;
  padding-top: 5%;
  padding-left: 5%;
  box-sizing: border-box;
}

nav img {
  width: 40%;
}

.container {
  clear: both;
}

.menu {
  font-family: scriptFont;
  margin: 0;
  padding: 0;
  padding-top: 15%;
}

.menu li {
  list-style: none;
}

.menu li a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: rgba(0, 0, 0, .8);
  font-size: 1rem;
}

.copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: .8rem;
}

footer {
  background-color: #343c2f;
  color: #FFF;
  text-align: center;
  box-sizing: border-box;
  padding: 20px 15%;
  font-size: .8rem;
  clear: both;
}

.footerHead {
  font-size: 1rem;
}

.content {
  min-height: 100vh;
  width: 75%;
  background-color: #FFF;
  float: left;
  box-sizing: border-box;
  padding: 5vh 15vw 5vh 5vw;
}

.content h1 {
  font-family: scriptFont;
  font-size: 36px;
}

.content p {
  font-size: 18px;
}

.galleryContent {
  padding-right: 5vw;
}

.srv-validation-message{
	color: red;
}